# Bỏ qua thư mục node_modules trong tất cả các phần của project
node_modules/

# Bỏ qua file môi trường
.env
generateSecret.js

admin/.env
# Bỏ qua các file log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua thư mục cache
.cache/

# Bỏ qua output của hệ thống
.DS_Store
Thumbs.db


admin/src/utils/firebase.js
